<p>admin works!</p>


<!DOCTYPE html>
<html>
<head>

</head>
<body>

<table>
    <tr>
        <th>Product Number</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Product Specfic Training</th>
        <th>Price</th>
        <th>Wearable</th>
        <th>Software Update Support</th>
        <th>Portability</th>
        <th>Compact</th>
        <th>BatterySupport</th>
        <th>Third Party Device Support</th>
        <th>Safe To Fly Certification</th>
        <th>Touch Screen Support</th>
        <th>Screen Size</th>
        <th>Multi Patient Support</th>
        <th>Cyber Security</th>
    </tr>
  <tr *ngFor="let product of prodDetail">
    <td>{{product.productNumber}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.description}}</td>
    <td>{{product.productSpecficTraining}}</td>
    <td>{{product.price}}</td>
    <td>{{product.wearable}}</td>
    <td>{{product.softwareUpdateSupport}}</td>
    <td>{{product.portability}}</td>
    <td>{{product.compact}}</td>
    <td>{{product.batterySupport}}</td>
    <td>{{product.tdirdPartyDeviceSupport}}</td>
    <td>{{product.safeToFlyCertification}}</td>
    <td>{{product.touchScreenSupport}}</td>
    <td>{{product.screenSize}}</td>
    <td>{{product.multiPatientSupport}}</td>
    <td>{{product.cyberSecurity}}</td>
  </tr>
</table>

</body>
</html>
